body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.content {
  height: 500px;
}

.header {
  background-color: rebeccapurple;
  color: white;
  padding: 1.5rem 0;
}

.sticky {
  position: sticky;
  top: 0;
}
